@import url("https://fonts.googleapis.com/css?family=Hind|Titillium+Web:700i");
body {
  margin: 0; }

p,
span,
li,
td {
  font-family: 'Hind', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
label,
th {
  font-family: 'Titillium Web', sans-serif; }

.react-parallax {
  height: 100vh; }

@media (max-width: 599px) {
  .react-parallax-bgimage {
    height: 100vh; } }

.jumbotron {
  position: relative;
  margin: auto;
  height: 100vh;
  overflow: hidden; }
  .jumbotron__img--inactive {
    visibility: hidden;
    opacity: 0; }
  .jumbotron__img--active {
    visibility: visible;
    opacity: 1; }

[class^='jumbotron__img'] {
  position: absolute;
  top: 10%;
  display: block;
  transition: all 0.4s ease-in-out;
  width: 100%;
  z-index: 0; }
  @media (max-width: 599px) {
    [class^='jumbotron__img'] {
      top: 10%;
      transform: scale(2); } }
  @media (min-width: 600px) {
    [class^='jumbotron__img'] {
      transform: scale(1.2); } }

.greeting {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  left: 0;
  text-align: center;
  top: 40%; }
  .greeting__name {
    margin: auto;
    color: white;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    font-size: 2.5em;
    text-shadow: 1px 1px 0px black; }
    @media (min-width: 600px) {
      .greeting__name {
        font-size: 4em; } }
    @media (min-width: 1024px) {
      .greeting__name {
        font-size: 8em; } }
  .greeting__sub {
    margin: auto;
    color: white;
    width: 100%;
    font-family: 'Hind', sans-serif; }
    @media (max-width: 599px) {
      .greeting__sub {
        font-size: 1em; } }
    @media (min-width: 600px) {
      .greeting__sub {
        font-size: 2em; } }

.overlay {
  position: absolute;
  display: block;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  z-index: 1; }

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: all 0.4s ease-in-out; }
  .navbar--scrolled {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: black;
    opacity: 0.3;
    transition: all 0.4s ease-in-out; }
    .navbar--scrolled:hover {
      opacity: 0.8; }
  .navbar__nav {
    display: flex;
    justify-content: space-between;
    transition: all 0.4s ease-in-out; }
    @media (max-width: 599px) {
      .navbar__nav {
        display: flex;
        flex-direction: column;
        height: 16px;
        transition: all 0.4s ease-in-out; } }
    .navbar__nav--toggled {
      display: flex;
      justify-content: space-between;
      transition: all 0.4s ease-in-out; }
      @media (max-width: 599px) {
        .navbar__nav--toggled {
          display: flex;
          flex-direction: column;
          height: 190px;
          transition: all 0.4s ease-in-out; } }
  .navbar__name {
    font-family: 'Hind', sans-serif;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out; }
    @media (max-width: 599px) {
      .navbar__name {
        margin: auto; } }
    @media (min-width: 600px) {
      .navbar__name {
        margin: 16px 0;
        padding-left: 30px; } }
    .navbar__name--scrolled {
      font-family: 'Hind', sans-serif;
      color: white;
      transition: all 0.4s ease-in-out; }
      @media (max-width: 599px) {
        .navbar__name--scrolled {
          margin: auto;
          visibility: hidden;
          opacity: 0; } }
      @media (min-width: 600px) {
        .navbar__name--scrolled {
          margin: 16px 0;
          padding-left: 30px;
          visibility: visible;
          opacity: 1; } }
      .navbar__name--scrolled--toggled {
        font-family: 'Hind', sans-serif;
        color: white;
        transition: all 0.4s ease-in-out; }
        @media (max-width: 599px) {
          .navbar__name--scrolled--toggled {
            margin: auto;
            visibility: visible;
            opacity: 1;
            color: white;
            transition: all 0.4s ease-in-out; } }
        @media (min-width: 600px) {
          .navbar__name--scrolled--toggled {
            margin: 16px 0;
            padding-left: 30px;
            visibility: visible;
            opacity: 1; } }
  .navbar__list {
    font-family: 'Hind', sans-serif;
    display: flex; }
    @media (max-width: 599px) {
      .navbar__list {
        flex-direction: column;
        margin: auto;
        padding: 0; } }
    @media (min-width: 600px) {
      .navbar__list {
        padding-right: 30px; } }
  .navbar__item {
    font-family: 'Hind', sans-serif;
    visibility: hidden;
    opacity: 0;
    color: white;
    list-style: none; }
    @media (max-width: 599px) {
      .navbar__item {
        margin: 8px 0; } }
    @media (min-width: 600px) {
      .navbar__item {
        margin: 0 20px; } }
    .navbar__item--scrolled {
      font-family: 'Hind', sans-serif;
      color: white;
      list-style: none; }
      @media (max-width: 599px) {
        .navbar__item--scrolled {
          margin: 8px 0;
          text-align: center;
          visibility: hidden;
          opacity: 0; } }
      @media (min-width: 600px) {
        .navbar__item--scrolled {
          margin: 0 20px;
          visibility: visible;
          opacity: 1; } }
      .navbar__item--scrolled a {
        padding: 6px;
        text-decoration: none;
        color: white;
        transition: all 0.1s ease-in-out; }
        .navbar__item--scrolled a:hover {
          background: #2dbcad;
          opacity: 0.9;
          border-radius: 2px;
          box-shadow: 0 0 0 1px white;
          transition: all 0.1s ease-in-out; }
      .navbar__item--scrolled--toggled {
        font-family: 'Hind', sans-serif;
        color: white;
        list-style: none; }
        @media (max-width: 599px) {
          .navbar__item--scrolled--toggled {
            margin: 8px 0;
            list-style: none;
            text-align: center;
            visibility: visible;
            opacity: 1;
            color: white;
            transition: all 0.4s ease-in-out; } }
        @media (min-width: 600px) {
          .navbar__item--scrolled--toggled {
            margin: 0 20px;
            visibility: visible;
            opacity: 1; } }
        .navbar__item--scrolled--toggled a {
          padding: 6px;
          text-decoration: none;
          color: white;
          transition: all 0.1s ease-in-out; }
          .navbar__item--scrolled--toggled a:hover {
            background: #2dbcad;
            opacity: 0.9;
            border-radius: 2px;
            box-shadow: 0 0 0 1px white;
            transition: all 0.1s ease-in-out; }
  .navbar__hamburger {
    display: none;
    visibility: hidden; }
    @media (max-width: 599px) {
      .navbar__hamburger {
        display: block;
        visibility: hidden;
        margin: auto;
        padding-top: 16px;
        fill: white;
        enable-background: new 0 0 32 32; } }
    .navbar__hamburger--scrolled {
      display: none;
      visibility: hidden; }
      @media (max-width: 599px) {
        .navbar__hamburger--scrolled {
          display: block;
          visibility: visible;
          margin: auto;
          padding-top: 16px;
          fill: white;
          enable-background: new 0 0 32 32; } }
      .navbar__hamburger--scrolled:hover {
        cursor: pointer; }

.project {
  overflow: hidden;
  border-top: 0.5px solid #757373;
  border-bottom: 0.5px solid #757373;
  background: #f1f1f1;
  transition: all 0.2s ease-in-out; }
  .project:hover {
    background: white; }
  .project__title-container--active {
    display: flex;
    justify-content: space-between;
    margin-top: 46px; }
  .project__title {
    margin: 20px 16px;
    font-family: 'Hind', sans-serif; }
    @media (max-width: 599px) {
      .project__title {
        font-size: 1.1em; } }
    .project__title:hover {
      cursor: pointer; }
  .project__controls {
    visibility: hidden;
    display: none; }
    .project__controls--active {
      margin-top: 20px; }
      @media (min-width: 600px) {
        .project__controls--active {
          margin: 20px 16px; } }
  .project__article {
    visibility: hidden;
    display: none; }
    .project__article--active {
      transition: all 0.4s ease-in-out;
      visibility: visible;
      display: block; }

@media (max-width: 599px) {
  .controls__back {
    margin: 0 4px;
    height: 15px; } }
@media (min-width: 600px) {
  .controls__back {
    margin: 0 16px; } }
.controls__back:hover {
  cursor: pointer; }
@media (max-width: 599px) {
  .controls__forward {
    margin: 0 4px; } }
@media (min-width: 600px) {
  .controls__forward {
    margin: 0 16px; } }
.controls__forward:hover {
  cursor: pointer; }
.controls__close:hover {
  cursor: pointer; }

.article__container {
  margin-top: 32px;
  display: flex; }
  @media (max-width: 599px) {
    .article__container {
      flex-direction: column; } }
  @media (min-width: 600px) {
    .article__container {
      flex-direction: row; } }
.article__post {
  margin-left: 8px; }
  .article__post img {
    height: 100%;
    width: 100%;
    transform: scale(0.5 0.5); }
  .article__post pre {
    background: black;
    color: white;
    overflow: scroll;
    border-radius: 3px; }
  @media (min-width: 600px) {
    .article__post {
      width: 50%; } }
.article__image {
  height: 100%;
  width: 100%;
  transform: scale(0.5 0.5); }

.skill {
  margin: 0 8px;
  padding: 4px;
  border-radius: 3px;
  color: white;
  background: #2dbcad; }
  @media (max-width: 599px) {
    .skill {
      margin: 4px; } }

.footer {
  min-height: 100vh;
  background-image: url("D:/Documents/Projects and Demos/newhome/client/src/images/houston.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse; }
  .footer__container {
    background: black;
    border-radius: 4px;
    opacity: 0.8; }
    @media (max-width: 599px) {
      .footer__container {
        margin-top: 50px; } }
    @media (min-width: 600px) {
      .footer__container {
        margin-top: 50px; } }
    @media (min-width: 1024px) {
      .footer__container {
        padding: 8px;
        width: 35%; } }
  .footer__title {
    color: white;
    font-family: 'Hind', sans-serif; }
  .footer__social {
    fill: white;
    width: auto;
    height: 24px;
    margin: 0 4px;
    transition: all 0.2s ease-in-out; }
    .footer__social:hover {
      fill: #2dbcad; }
  .footer__summary {
    color: white; }
  .footer__legal {
    color: white; }

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("D:/Documents/Projects and Demos/newhome/client/src/images/houston.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .register__form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: black;
    opacity: 0.8;
    color: white;
    border-radius: 6px; }
    .register__form input {
      margin: 4px 0; }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("D:/Documents/Projects and Demos/newhome/client/src/images/houston.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .login__form {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: black;
    opacity: 0.8;
    color: white;
    border-radius: 6px; }
    .login__form input {
      margin: 4px 0; }

.cpanel {
  display: grid;
  min-height: 100vh; }
  @media (max-width: 599px) {
    .cpanel {
      grid-template-rows: 65px 65px 1fr;
      grid-template-areas: 'top' 'side' 'main'; } }
  @media (min-width: 600px) {
    .cpanel {
      grid-template-rows: 65px 1fr;
      grid-template-columns: 65px 1fr;
      grid-template-areas: 'top top' 'side main'; } }
  .cpanel__editor {
    margin: auto;
    margin-top: 50px; }
    @media (max-width: 599px) {
      .cpanel__editor {
        width: 95%; } }
    @media (min-width: 600px) {
      .cpanel__editor {
        min-width: 500px;
        max-width: 900px; } }
  .cpanel__top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    background: black;
    color: white; }
    .cpanel__top__title {
      margin: 15px 16px; }
      @media (max-width: 599px) {
        .cpanel__top__title {
          font-size: 0.8em; } }
    .cpanel__top__options {
      list-style: none;
      display: flex;
      margin: 20px 16px;
      padding: 0; }
      @media (max-width: 599px) {
        .cpanel__top__options {
          font-size: 0.7em; } }
    .cpanel__top__link {
      margin: 0 4px;
      padding: 6px;
      background: black;
      text-decoration: none;
      color: white;
      border: thin solid white;
      transition: all 0.2s ease-in-out; }
      .cpanel__top__link:hover {
        background: white;
        color: black; }
  .cpanel__side {
    grid-area: side;
    display: flex;
    background: #2dbcad;
    padding: 10px; }
    @media (max-width: 599px) {
      .cpanel__side {
        flex-direction: row;
        align-items: center;
        justify-content: space-around; } }
    @media (min-width: 600px) {
      .cpanel__side {
        flex-direction: column; } }
    @media (max-width: 599px) {
      .cpanel__side__traffic {
        height: auto;
        width: 50%; } }
    @media (min-width: 600px) {
      .cpanel__side__traffic {
        height: 35px;
        width: auto;
        margin: 40px auto; } }
    @media (max-width: 599px) {
      .cpanel__side__files {
        height: auto;
        width: 50%; } }
    @media (min-width: 600px) {
      .cpanel__side__files {
        height: 35px;
        width: 35px;
        margin: 40px auto; } }
    @media (max-width: 599px) {
      .cpanel__side__news {
        height: auto;
        width: 50%; } }
    @media (min-width: 600px) {
      .cpanel__side__news {
        height: 30px;
        width: auto;
        margin: 40px auto; } }
  .cpanel__title {
    text-align: center; }
  .cpanel__main {
    grid-area: main;
    margin: 0 auto 16px auto;
    width: 100%;
    max-width: 1024px; }
    .cpanel__main__minor {
      display: flex; }
      @media (max-width: 599px) {
        .cpanel__main__minor {
          flex-direction: column; } }
    .cpanel__main__title {
      display: inline-block; }
    .cpanel__main__monthly {
      margin: auto;
      min-width: 75%; }
      @media (max-width: 599px) {
        .cpanel__main__monthly {
          min-width: 90%;
          padding: 0 16px;
          height: auto; } }
      @media (min-width: 600px) {
        .cpanel__main__monthly {
          padding: 0 32px;
          max-width: 800px;
          height: auto; } }
    .cpanel__main__daily {
      margin: auto;
      min-width: 40%; }
      @media (max-width: 599px) {
        .cpanel__main__daily {
          min-width: 90%;
          padding: 0 16px;
          max-width: 300px;
          height: auto; } }
      @media (min-width: 600px) {
        .cpanel__main__daily {
          padding: 0 32px;
          max-width: 500px;
          height: auto; } }
    .cpanel__main__mobile {
      margin: auto;
      min-width: 40%; }
      @media (max-width: 599px) {
        .cpanel__main__mobile {
          min-width: 90%;
          padding: 0 16px;
          max-width: 300px;
          height: auto; } }
      @media (min-width: 600px) {
        .cpanel__main__mobile {
          padding: 0 32px;
          max-width: 500px;
          height: auto; } }
  .cpanel__posts {
    width: 90%;
    margin: 32px auto;
    border: thin solid black; }
    @media (max-width: 599px) {
      .cpanel__posts {
        width: 100%;
        padding: 4px; }
        .cpanel__posts th {
          display: none; }
        .cpanel__posts td:nth-of-type(1):before {
          content: 'Name';
          font-weight: 700;
          display: inline-block;
          width: 50%; }
        .cpanel__posts td:nth-of-type(2):before {
          content: 'Date Created';
          font-weight: 700;
          display: inline-block;
          width: 50%; }
        .cpanel__posts td:nth-of-type(3):before {
          content: 'Options';
          font-weight: 700;
          display: inline-block;
          width: 50%; } }
    @media (min-width: 600px) {
      .cpanel__posts {
        padding: 16px; }
        .cpanel__posts td {
          text-align: center; } }
    .cpanel__posts__buttons {
      display: inline-block; }
      .cpanel__posts__buttons button {
        border: none;
        outline: none;
        margin: 0 2px;
        background: black;
        color: white;
        border: thin solid white;
        padding: 8px;
        border-radius: 6px;
        transition: all 0.1s ease-in-out; }
        .cpanel__posts__buttons button:active {
          background: #2dbcad; }
    .cpanel__posts__nav {
      display: flex;
      list-style: none;
      margin: auto;
      padding: 0;
      max-width: 100px; }
    .cpanel__posts__item {
      padding: 8px;
      border-radius: 6px;
      background: black;
      color: white;
      margin: 0 8px;
      transition: all 0.1s ease-in-out; }
      .cpanel__posts__item:active {
        background: #2dbcad; }
    .cpanel__posts__post--active:nth-child(2n) {
      background: #f1f1f1;
      color: black; }
    @media (max-width: 599px) {
      .cpanel__posts__post--active {
        display: flex;
        flex-direction: column; } }
    .cpanel__posts__post--inactive {
      display: none; }
      @media (max-width: 599px) {
        .cpanel__posts__post--inactive {
          display: none; } }

.side__nav {
  list-style: none;
  padding: 0;
  display: flex; }
  @media (min-width: 600px) {
    .side__nav {
      flex-direction: column; } }
.side__item {
  margin: auto; }
@media (max-width: 599px) {
  .side__traffic {
    height: auto;
    width: 50px;
    margin: 0 25px; } }
@media (min-width: 600px) {
  .side__traffic {
    height: auto;
    width: 100%; } }
@media (max-width: 599px) {
  .side__news {
    height: auto;
    width: 50px;
    margin: 0 25px; } }
@media (min-width: 600px) {
  .side__news {
    height: auto;
    width: 100%;
    margin: 50px 0; } }
@media (max-width: 599px) {
  .side__file {
    height: auto;
    width: 50px;
    margin: 0 25px; } }
@media (min-width: 600px) {
  .side__file {
    height: auto;
    width: 50px; } }

.traffic__line {
  width: 300px;
  height: 300px; }

.error {
  padding: 10px;
  border-radius: 6px;
  background: red;
  color: white;
  font-family: 'Titillium Web', sans-serif; }

/*# sourceMappingURL=styles.css.map */
